/**
* FUNCTIONS
*/
/**
* COLORS
*/
/**
* POSITION
*/
.feedback {
  width: 70%;
  margin: 2em auto;
}

.feedback div h2 {
  color: White;
  text-align: center;
  padding: .5em 0;
  font-size: clamp(0.7rem, 3vw, 1rem);
  font-weight: 700;
  word-spacing: 3px;
}

.feedback div h2.mail-true {
  background: green;
}

.feedback div h2.mail-false {
  background: red;
}

.feedback h3 {
  text-align: center;
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: 400;
}

.feedback p {
  text-align: center;
  margin-bottom: 1em;
  font-size: clamp(0.7rem, 2vw, 1rem);
}

.feedback form {
  position: relative;
}

.feedback form fieldset {
  border: 2px solid #303030;
  padding: 1em;
  background: #f3f0f0;
  border-radius: .1em;
}

.feedback form fieldset button {
  width: 50%;
  margin: 1em auto 0 auto;
  display: block;
  border: 2px solid #303030;
  border-radius: .3em;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  background: none;
  color: #303030;
  padding: 1em 0;
}

.feedback form fieldset button span {
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  font-weight: 700;
}

.feedback form fieldset button:hover {
  border-color: red;
  color: red;
}

.feedback form fieldset legend {
  margin-left: 5%;
}

.feedback form fieldset .twocont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: .5em;
}

.feedback form fieldset .twocont div {
  position: relative;
  width: 47%;
}

.feedback form fieldset .twocont div p {
  position: absolute;
  left: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: 'Oswald', sans-serif;
  font-size: clamp(0.8rem, 3vw, 1.1rem);
  padding: 0 .5em;
  -webkit-transition: .5s;
  transition: .5s;
  pointer-events: none;
}

.feedback form fieldset .twocont div input {
  width: 100%;
  outline: 0;
  border: 2px solid #303030;
  border-radius: .2em;
  padding: .7em 1em;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: clamp(0.8rem, 2vw, 1.1rem);
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
}

.feedback form fieldset .textcont {
  position: relative;
}

.feedback form fieldset .textcont textarea {
  width: 100%;
  border: 2px solid #303030;
  resize: none;
  border-radius: .2em;
  -webkit-transition: .3s;
  transition: .3s;
  height: 20vw;
  min-height: 180px;
  outline: 0;
  padding: 1em;
  font-size: clamp(0.8rem, 2vw, 1.1rem);
}

.feedback form fieldset .textcont .starcont {
  position: absolute;
  right: 3px;
  bottom: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.feedback form fieldset .textcont .starcont div {
  cursor: pointer;
}

.feedback form fieldset .textcont .starcont div svg {
  pointer-events: none;
  border-radius: 50%;
  width: clamp(20px, 4vw, 60px);
  height: clamp(20px, 4vw, 60px);
}

@media (max-width: 480px) {
  .feedback {
    width: 100%;
  }
  .feedback form fieldset {
    padding: .5em;
  }
  .feedback form fieldset .twocont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feedback form fieldset .twocont div {
    width: 100%;
    margin: .5em 0;
  }
  .feedback form fieldset .textcont {
    height: 20vw;
    min-height: 180px;
  }
}
