* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 300;
}

body {
  background: white;
  min-height: 100vh;
  font-family: 'Sora', sans-serif;
  overflow-x: hidden;
}

.loadgif {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.loadgif img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
