@import '../config';

.items-cont{
   padding:1.5em .5em .5em .5em;
   @include flex-sa-c;
   flex-wrap: wrap;

   article{
      width:30%;
      height:18vw;
      border:2px solid black;
      border-radius: .2em;
      margin-bottom: 1em;
      @include flex-sa-c;
      flex-direction: column;
      position: relative;

      .img-cont{
         width: 50%;
         height: 50%;
         position: relative;
         @include flex-c-c;

         &::before{
            content: '';
            position: absolute;
            width: 70%;
            height:70%;
            border-radius: 50%;
            border:3px solid rgb(102, 0, 128);
            box-shadow: 0 0 2px purple, 0 0 4px purple, 0 0 8px purple, 0 0 16px purple;
            left:50%;
            top:50%;
            transform: translate(-50%,-50%);
            z-index: -2;
         }

         img{
            height:100%;
         }
      }

      .text-cont{
         width: 100%;
         @include flex-sa-c;

         mark{
            padding:.5em;
            border-radius: .1em;
            background: alphaClr($darkSoft-clr,.85);
            color:rgb(0, 230, 0);
            font-size: clamp(.8rem,2vw,1rem);
            font-weight: 700;
            min-width: 50px;
            text-align: center;
         }

         button{
            width: 40%;
            min-height: 30px;
            border-radius: .4em;
            border:2px solid saddlebrown;
            background: rgb(241, 238, 238);
            @include flex-sa-c;
            cursor: pointer;
            transition: .3s;

            &:hover{
               background: rgb(224, 221, 221);
            }

            svg{
               width:clamp(20px,2vw,30px);
               height:clamp(20px,2vw,30px);
            }

            span{           
               font-weight: 300;
               letter-spacing: 1px;
               font-size: clamp(.7rem,1.5vw,1.5rem);
               font-family: 'Oswald', sans-serif
            }
         }
      }

      h2{
         font-size: clamp(.8rem,2vw,1.5rem);
      }
   }
}

@media (max-width: 1024px){
   .items-cont{
      article{
         .text-cont{
            button{
               svg{
                  display: none;
               }
            }
         }
      }
   }
}

@media (max-width: 768px){
   .items-cont{
      article{
         height: 25vw;
         min-width: 180px;
         min-height: 165px;
         margin:0 .5em 1em .5em;
      }
   }
}