@import '../config';

.left-side{
   .pages-cont{
      border: 2px solid black; border-width: 2px 0 2px 0;
      @include flex-c-c;

      div{
         border: 3px solid cornflowerblue; border-width: 0 3px 0 3px;
         padding:1em;
         min-width: 55px;
         text-align: center;
         border-radius: .5em;
         margin:0 .1em;
         font-weight: 700;
         font-size: clamp(.6rem,2vw,1rem);
         cursor: pointer;
         transition: .4s;

         &.active{
            background: #303030;
            color:white;
            pointer-events: none;
         }

         &:hover{
            background: $greySoft-clr;
         }
      }
   }

   nav{
      border-bottom:2px solid black;

      ol{
         position: absolute;
         display: none;
         top:100%;
         background: rgb(240, 240, 240);
         width: calc(100% + 3px);
         border: 2px solid black; border-width: 0 2px 2px 0;
         z-index: 9999;
         list-style: none;
         flex-wrap: wrap;
         overflow:hidden;
         height: 0px;
         @include flex-sa-c;

         &.scnd{
            border-left:2px solid black;
            z-index: 999;
         }

         li{
            width:33%;
            padding:1.5em 0;
            font-weight: 300;
            font-size: clamp(.6rem,1.4vw,.95rem);
            transition: .3s;

            &:hover{
               background: rgb(211, 211, 211);
            }
         }
      }

      ul{
         display: flex;
         list-style: none;

         li:not(.li-inn){
            span{
               pointer-events: none;
               @include flex-c-c;
               font-weight: 500;
            }

            position: relative;
            width:50%;
            border-right:2px solid black;
            text-align: center;
            padding:1em 0;
            @include flex-c-c;   
            text-transform: uppercase;
            cursor: pointer;
            transition: all .5s;

            &:hover{
               background: $greySoft-clr;
            }

            svg{
               width: 30px;
               height: 30px;
            }
   
            &:last-child{
               border:0;
            }
         }
      }     
   }
}

@media (max-width: 480px){
   .left-side{
      .pages-cont{
         div{
            @include flex-c-c;
            min-width: auto;
            width:12vw;
            height:12vw;
         }
      }

      nav{
         ul{
            flex-direction: column;
            
            li.li-what{
               width: 100%;
               border:0;

               &:first-child{
                  border-bottom: 2px solid black;
               }
            }
         }
      }
   }
} 